body {
    font-family: 'Mallanna', sans-serif;
    /* background:radial-gradient(#fff,rgba(0,119,255,.1)); */
    background-color: white;
    margin:0;
    overflow-x:hidden;

    
}


/*******************Nav Bar**************************/

nav ul {

    list-style-type: none ;
    padding: 0;
    margin:0;
    display: inline-block;
    white-space: nowrap;
    
}

nav ul li {
    display: inline-block;
    margin:0;
    vertical-align: middle;
    white-space: normal !important;
    /* text-top */
    
}

#nav-icon {
    padding-left:20px;
    color:red;
}

#nav-hdb {
    
    line-height: 14px;
    text-align: center;
    width:100px;
    font-weight: bold;
    font-family: 'Alatsi', sans-serif;
        
}

#nav-about {
    padding-left: 60px;
    padding-right:60px;
    height: 100px;
    line-height: 90px;
    font-family: 'Open Sans', sans-serif;
    
}

@media only screen and (max-width: 400px) {
    
    #nav-about {
        padding-left: 30px;
        padding-right: 30px;

    }
    
}

#nav-about:hover {
    background-color: #6a8494;
    color:white;
}


#about-this {
    display: none;
    height:auto;
    width:95%;
    background-color: rgb(106, 132, 148);
    z-index: 1; 
    position:absolute;
    top:100px;
    color:white;
    font-family: 'Encode Sans', sans-serif;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    /* text-align : center ; */
    /* align-content: center; */
    white-space: normal !important;
    
}

@media only screen and (max-width: 400px) {
    
    #about-this {
        font-size: 10px;
    }
    
}



#nav-about:hover + #about-this {
    display:block ;

}




/********************Layout Plan**********************/

#container {
    display: flex;
    width:100%;
    flex-direction: column;
    height: auto;
}

#map-tier {
    flex: 5;
    height: 80vh;
    width:100%;
    display:block;
    z-index:0;
}


#map {
    height:100%;
    width:100%;
}

#navigation-tier {
    /* flex:1; */
    /* margin: 10px; */
    display:flex;
    flex-direction: row;
    
    

}

#left-navigation-tier{
    flex:1;
}

#right-navigation-tier{
    flex:5;
    display: flex;
    justify-content:flex-end;
    color:
    
    
}


#filters-tier {
    flex:5;
    display:none;
    flex-direction: row ;
    max-height:auto;
    background-color: white;
    
    
}

@media only screen and (max-width: 800px) {

    #filters-tier {
        display: none;
        flex-direction: unset;
        flex-wrap: wrap;

    }

    #navigation-tier {
        display:block;
        flex-direction:unset;
        margin:0px;
    }

    #left-navigation-tier{
        display:block;
    }

    #right-navigation-tier{
        display: block;
    }

    .middle-nav {
        background-color: #6a8494 ;
        color: white;
        margin: 0px !important;
        border: 2px solid white;
        cursor: pointer;
        width:100%;
        
    }

    #button-more-filters {
        
        left: 80% !important;
        width:auto;

    
    }




}



#filter-location {
    flex:1;
    margin:10px;
    min-height: 150px;
    margin-bottom:20px;
    text-align: center;

}

#filter-others {
    flex:1;
    position:relative;
    display:none;
    
    
}

#town {
    display: none;
    flex-wrap: wrap;
    justify-content:center ;
    padding:100px;
    
}

@media only screen and (max-width: 390px) {

    #town {
        padding: 20px;
    }
}



#input-street {
    display: flex;
    justify-content:center ;
    
}

/*********************styles : display filters, display table by ascending or descending price, reset  ******************/


.middle-nav {
    background-color: #6a8494 ;
    color: white;
    margin:10px;
    border: 2px solid white;
    cursor: pointer;
    
}
/* 
.middle-nav:hover {
    background-color: #ab576c;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    
} */

/* #buttonTopPrice:hover {
    background-color: #ab576c;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}


#buttonBottomPrice:hover {
    background-color: #ab576c;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

#reset:hover {
    background-color: #ab576c;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
} */


#resultsSize {
    color: white;
    display:none;
    background-color: #ab576c;
    padding-left:20px;
    padding-right:20px;
    margin:10px;
    border: 2px solid white;
    font-size: 12px;
    
    
    /* font-family: inherit;
    font-style: inherit;
    font-weight: inherit; */
    
}


#buttonTopPrice {
    display:none;
}

#buttonBottomPrice {
    display:none;
}



/*********************styles: fitler by town, filter by street name, show extra filters ******************/


#button-more-filters {
    position: absolute;
    left: 87%;
    z-index: 2;
    width:auto;

}

#button-more-filters p{
    padding:0;
    margin:0;
        
}

@media only screen and (max-width: 430px) {

    #button-more-filters {
        left: 85% !important;
    }

    #button-more-filters p{
        writing-mode:vertical-lr !important;
    }
}


#button-more-filters:hover {
    background-color: #ab576c ;
}




.middle-sec-nav {

    background-color: #6a8494 ;
    color: white;
    margin:10px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;

}

#button-filter-town {
    background-color:#6a8494 ;
}

#button-filter-street {
    background-color: #ab576c ;
}




/**********************textboxes styles*********************/

.textbox {
    border-color: #6a8494;
    border-width: 2px;
    border-style:solid;
    border-radius: 2px;
}



/***********************checkboxes for town***************/
/********https://codepen.io/lonekorean/pen/RPZZPe/ *******/

.input-town {
    position:absolute;
    left:-9999px;
}

.label-town {
    
    width:105px;
    position:relative;
    border:2px solid #fff;
    margin-top:3px;
    margin-bottom:3px;
    margin-right:0.5px;
    margin-left:0.5px;
    padding: 0px 15px 0px 50px;
    border-radius:100px;
    color:white;
    background-color: #6a8494;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: box-shadow .2s;

}



.label-town::before {
    content:'';
    position: absolute;
    top: 29%;
    left: 25px;
    width: 15px;
    height: 10px;
    border: 2px solid #fff;
    border-radius:25%;
    
}


.input-town:checked + .label-town {
    background-color: #ab576c;
    
}

.label-town:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
  
.input-town:checked + .label-town::before {
    background-color: #fff;
}


/*************extra filters tables styles*****************/

#filter-others-table {
    width:100%;
    border:0px solid black;
    border-right: none;
    border-collapse:collapse;

}


.filter-others-tr:nth-child(even) {
    background-color: #6a8494; 
    color:white;
    
}

.filter-others-tr:nth-child(odd) {
    background-color: white;
    color:black;
    
}

.filter-others-td {
    border:0px solid black;
    padding:15px;
}





/**************tables styles*****************************/

#table-results {
    width:100%;
    border:1px solid black;
    border-collapse:collapse;
    
    
}

th {
    border:1px solid black;
    border-collapse:collapse;
    text-align: center;
    padding:15px;
    background-color : #fff;
    color:black;
    writing-mode: vertical-rl;
    margin:0;
    padding:10px;
}

td {
    border:1px solid black;
    border-collapse:collapse;
    text-align: center;
    margin:auto;
    padding:10px;
   
}

th p {
    margin:0;
    padding:0;
}

td p {
    margin:0;
    padding:0;

}

tr:nth-child(even) {
    background-color: skyblue;
    color:black;
}

tr:nth-child(odd) {
    background-color: white;
    color:black;
}


@media only screen and (max-width: 1000px) {

    #table-results {
        /* word-break:break-all; */
        word-wrap:break-word;
        margin:0;
        width:100%;
        
        /* text-orientation: upright; */
        
        
    }

    th {
        padding:0;
        margin:0;
        
    }

    td {
        padding:0;
        margin:0;
        
    }
    td p {
        writing-mode: vertical-lr;
        padding: 0px;
        margin:0;
    }

    th p {
        writing-mode: vertical-lr;
        margin:0;
        padding:0;
    }

    th div {
        writing-mode: vertical-lr;
        padding: 0px;
        margin:0;
    }
}




/***********Footer style**************************/
/* 
#footer-border {
    background-color: #323232;
    display: inline-block;
    margin-left:50px;
    margin-right:50px;
    height:1px;
    
} */

footer {
    
    display:flex;
    flex-direction: row;
    background-color: #323232;
    color: #b7b7b7;
    
    
}

@media only screen and (max-width: 400px) {

    footer {
        display:block;
    }
}

footer div {
    
    flex:1;
    padding-right:50px;
    padding-bottom:10px;
    margin:0;
    line-height: 0px;
    text-align: end;
    font-size:13px;
    
}

a {
    text-decoration: none;
    color: #b7b7b7;
    cursor: text;
}

